@charset "UTF-8";
/*変数*/
/*-----*/
* {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
}

html {
  font-family: 'Sawarabi Gothic', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 99;
}

header #menu {
  width: 100%;
  height: 30px;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header ul li {
  margin: 1rem;
}

header ul li a {
  color: #222;
  display: block;
  position: relative;
  text-decoration: none;
}

header ul li a::before,
header ul li a::after {
  border-bottom: solid 2px #222;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

header ul li a::before {
  left: 50%;
}

header ul li a::after {
  right: 50%;
}

header ul li a:hover::before,
header ul li a:hover::after {
  width: 50%;
}

header ul li a:hover {
  opacity: 0.5;
}

/*top*/
#top {
  /*background*/
  background-image: url(img/sezon.jpg);
  background: linear-gradient(-35deg, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5)), url(C:/Users/4183104/Desktop/portfolio/img/sezon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background*/
  width: 100%;
  height: 100vh;
  position: relative;
}

#top h1 {
  opacity: 0;
  font-family: 'Julius Sans One', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(250, 250, 250, 0.6);
  padding: 1rem;
}

#top h1 span {
  position: relative;
  top: 50px;
  opacity: 0;
}

/*profile*/
#profile {
  /*background*/
  background-image: url(img/sezon2.jpg);
  background: linear-gradient(-35deg, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5)), url(C:/Users/4183104/Desktop/portfolio/img/sezon2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background*/
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}

#profile .profile_img {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 100px;
}

#profile .profile_img img {
  max-width: 100%;
  max-height: 100%;
}

#profile div {
  width: 50%;
  margin: 0px auto;
}

#profile div dl dt {
  font-weight: bold;
}

#profile .profile_container {
  background: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(3px);
  padding: 0.5rem;
  margin-top: 3%;
}

/*work*/
#work {
  /*background*/
  background-image: url(img/sezon3.jpg);
  background: linear-gradient(-35deg, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5)), url(C:/Users/4183104/Desktop/portfolio/img/sezon3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background*/
  width: 100%;
  height: auto;
}

.cssgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  padding: 0.8em;
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}

.cssgrid .item {
  height: 280px;
  background: rgba(250, 250, 250, 0.6);
  overflow: hidden;
  min-width: 0;
  padding: 1em;
  /*どのサイズの画像でも対応できるように*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssgrid .item h2 {
  text-align: center;
}

.cssgrid .item img {
  max-width: 100%;
  max-height: 100%;
}

/*モーダルウィンドウ*/
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal .js-modal-close {
  font-size: 400%;
  text-decoration: none;
  top: 0;
  right: 1%;
  position: absolute;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: rgba(250, 250, 250, 0.8);
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60vh;
  text-align: center;
}

.modal__content img {
  max-width: 100%;
  max-height: 100%;
}

/*contact*/
#contact {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  /*background*/
  background-image: url(img/sezon4.jpg);
  background: linear-gradient(-35deg, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5)), url(C:/Users/4183104/Desktop/portfolio/img/sezon4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background*/
}

#contact form {
  width: 40%;
  margin: 0 auto;
  background: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(3px);
  padding: 2rem;
}

#contact form h2 {
  width: 40%;
  margin-bottom: 30px;
}

#contact form dl dt {
  font-weight: bold;
}

#contact form dl dd {
  margin-bottom: 2rem;
}

#contact form dl dd input {
  width: 100%;
  padding: 0.3rem;
}

#contact form dl dd textarea {
  width: 100%;
  padding: 0.3rem;
}

#contact form dl input[type="submit"] {
  font-size: 100%;
  padding: 0.3rem 1rem;
  border: solid 1px #222;
  transition-duration: 0.4s;
}

#contact form dl input[type="submit"]:hover {
  background: #222;
  color: #eee;
}

#top footer {
  position: fixed;
  bottom: 0;
}

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(-35deg, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5));
}

#gnav {
  display: none;
}

.slicknav_menu {
  display: none;
  /*PC時は非表示*/
}

@media screen and (max-width: 768px) {
  #gnav {
    display: none;
    /*モバイル時は非表示*/
  }
  .slicknav_menu {
    display: block;
    /*モバイル時は表示*/
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .slicknav_menu a {
    color: #222;
    text-align: center;
  }
  .slicknav_menu a:hover {
    opacity: 0.5;
  }
  nav {
    display: none;
  }
  /*profile*/
  #profile div {
    width: 80%;
  }
  /*contact*/
  #contact h2 {
    width: 70%;
  }
  #contact form {
    width: 70%;
  }
}

@media screen and (max-width: 565px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .cssgrid {
    width: unset;
    margin: unset;
  }
}
